body {
  font-family: "Lato", sans-serif; }

h1, h3 {
  font-family: "Fondamento", cursive; }

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  font-family: "Lato", sans-serif;
  padding: 20px, 0px; }
  .site-footer h5 {
    font-family: "Alegreya Sans SC", sans-serif; }

.carousel-item img {
  height: 350px;
  object-fit: cover; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 100px; }
