body {
  font-family: "Lato", sans-serif; }

h1, h3 {
  font-family: "Fondamento", cursive;
  color: #B0163C; }

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  color: #EA7450; }

header h2 {
  color: #EE9754; }

.navbar-dark {
  background-color: #B0163C; }
  .navbar-dark .nav-item {
    padding: 0px 4px; }

.site-footer {
  font-family: "Lato", sans-serif;
  padding: 20px, 0px;
  background-color: #B0163C;
  color: #fff; }
  .site-footer h5 {
    font-family: "Alegreya Sans SC", sans-serif; }
  .site-footer .link-colors a {
    color: #F3Bf59; }
    .site-footer .link-colors a a:hover {
      color: olive; }

.carousel-item img {
  height: 350px;
  object-fit: cover; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 100px; }
