$color-primary-red: #B0163C;
$color-secondary-red: #E74D4D;
$color-primary-orange: #EA7450;
$color-secondary-orange: #EE9754;
$color-yellow: #F3Bf59;
$color-green: olive;
$color-black-transparent: rgba(0, 0, 0, 0.5);


$body-font: "Lato", sans-serif;
$header-font: "Fondamento", cursive;
$secondary-font: "Alegreya Sans SC", sans-serif;

body {
    font-family: $body-font;
}

h1, h3 {
    font-family: $header-font;
    color: $color-primary-red;
}

h2 {
    font-family: $secondary-font;
    color: $color-primary-orange;
}

header {
    h2 {
        color: $color-secondary-orange;
    }
}

.navbar-dark{
    background-color: $color-primary-red;
    .nav-item {
        padding: 0px 4px;
    }
}

.site-footer {
    h5 {
        font-family: $secondary-font;
    }
    font-family: $body-font;
    padding: 20px, 0px;
}

.carousel-item {
    img {
        height: 350px;
        object-fit: cover;
    }
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 100px;
}