$color-primary: #3046C5;
$color-secondary: #5637DD;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106B;
$color-black-transparent: rgba(0, 0, 0, 0.5);


$body-font: "Lato", sans-serif;
$header-font: "Fondamento", cursive;
$secondary-font: "Alegreya Sans SC", sans-serif;

body {
    font-family: $body-font;
}

h1, h3 {
    font-family: $header-font;
}

h2 {
    font-family: $secondary-font;
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
}

.site-footer {
    h5 {
        font-family: $secondary-font;
    }
    font-family: $body-font;
    padding: 20px, 0px;
}
.jumbotron {
    margin: 0;
    padding: 30px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 100px;
}

